# ============================================
# Terraform Security Scanning Jobs
# ============================================
# Runs Checkov for IaC security scanning
# ============================================

.terraform_security_job:
  extends: .terraform_base
  image:
    name: mirror.pvcb.vn/bridgecrew/checkov:latest
    entrypoint: [""]
  tags:
    - default
  script:
    - |
      checkov -d . --skip-download
